body {
  font-family: helvetica;
  margin: 0;
}

.parallax-window {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: space-around;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.name {
  font-size: 5em;
}

.subtitle {
  font-size: 1.5em;
}

@media (max-width: 700px) {
.name {
  font-size: 3em;
}

.subtitle {
  font-size: 1.3em;
}
}

.social-icon {
  display: inline-block;
  margin: 5px;
  opacity: .5;
  transition: opacity .5s ease-in-out;
}

.social-icon:hover {
  opacity: 1;
}

.social-icon img {
  height: 50px;
  width: 50px;
}

.avatar {
  background-color: #7C4DFF;
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.avatar-center {
  background-color: #311B92;
  border-radius: 50%;
  margin: 5px 0 0 5px;
  height: 240px;
  width: 240px;
}

.avatar-img {
  border-radius: 50%;
  margin: 8px 0 0 8px;
  height: 224px;
  width: 224px;
}

.footer {
  height: 600px;
}